html, body {
    font-family: 'Segoe UI', sans-serif;
    height: 100%;
    margin: 0;
    padding:0;
    overflow: hidden;
}

header, footer {
    display:block; 
    background-color:yellow; 
    height:5%;
    width:100%;
    padding:0;
    width:1024px;
    margin-left:auto;
    margin-right:auto;
}

section {
    height:95%; 
    width:1024px;
    margin-left:auto;
    margin-right:auto;
    background-color:lightblue; 
    display:block; 
    overflow:auto;
}

#a-login {
    text-decoration:underline;
    color:red;
    margin-right:10px;
    font-size:150%;
}

#a-hi {
    text-decoration:underline;
    color:green;
    margin-right:10px;
    font-size:150%;
}

#a-signup, #a-logout {
    text-decoration:underline;
    color:red;
    margin-left:10px;
    font-size:150%;
}

#new-post, #more{
    text-decoration:underline;
    color:red;
    font-size:150%;
}

header.td {
    width: 33%;
}

details{
    width:100%;
    height:auto;
}

summary{
    width:100%;
    height:500px;
    color:green;

    background-color:gray;
    background-size:cover;
}

img {
    height: auto;
    width:100%;
    border:dashed;
    margin-top:4px;
}
